In [10]:
# importing dependencies
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2
from sqlalchemy.sql import text

import time
from getpass import getpass

In [11]:
#Load in CSVs & Convert to DFs
nbaavgs1617 = "/Users/griffinmccalla/Desktop/03_bootcamp/homework/NBA_analysis/cleaned_bball_data 2/2016_17_nbaavgs.csv"
nbaavgs1718 = "/Users/griffinmccalla/Desktop/03_bootcamp/homework/NBA_analysis/cleaned_bball_data 2/2017_18_nbaavgs.csv"
nbaavgs1819 = "/Users/griffinmccalla/Desktop/03_bootcamp/homework/NBA_analysis/cleaned_bball_data 2/2018_19_nbaavgs.csv"
nbaavgs1920 = "/Users/griffinmccalla/Desktop/03_bootcamp/homework/NBA_analysis/cleaned_bball_data 2/2019_20_nbaavgs.csv"
nbaavgs2021 = "/Users/griffinmccalla/Desktop/03_bootcamp/homework/NBA_analysis/cleaned_bball_data 2/2020_21_nbaavgs.csv"
players = "/Users/griffinmccalla/Desktop/03_bootcamp/homework/NBA_analysis/cleaned_bball_data 2/players.csv"

# Read the Data and store into a Pandas DataFrame
nbaavgs_1617_df = pd.read_csv(nbaavgs1617)
nbaavgs_1718_df = pd.read_csv(nbaavgs1718)
nbaavgs_1819_df = pd.read_csv(nbaavgs1819)
nbaavgs_1920_df = pd.read_csv(nbaavgs1920)
nbaavgs_2021_df = pd.read_csv(nbaavgs2021)
players_df = pd.read_csv(players)

In [12]:
#Creating unique player and year columns
def year_cleaning(df, year):
    df['year'] = year
    df['u_player'] = df['Player'] + " " + df['year']
    return df
#Add Values to "Season" Column
nbaavgs_1617_df = year_cleaning(nbaavgs_1617_df,"2016-17")
nbaavgs_1718_df = year_cleaning(nbaavgs_1718_df,"2017-18")
nbaavgs_1819_df = year_cleaning(nbaavgs_1819_df,"2018-19")
nbaavgs_1920_df = year_cleaning(nbaavgs_1920_df,"2019-20")
nbaavgs_2021_df = year_cleaning(nbaavgs_2021_df,"2020-21")

In [13]:
#Merge All Season DFs into one DF
nba_data = pd.concat([nbaavgs_1617_df,nbaavgs_1718_df,nbaavgs_1819_df,nbaavgs_1920_df,nbaavgs_2021_df], ignore_index=True)

In [14]:
#Rename Columns
cols = list(nba_data.columns)
new_cols = []
for col in cols:
    new_cols.append(col.lower())
    
cols_dict = {cols[i]: new_cols[i] for i in range(len(cols))}
for key, val in cols_dict.items():
    if re.match("%", val) != -1:
        val = re.sub('[^A-Za-z0-9]+', '', val)
clean_dict = {key: item.strip() for key, item in cols_dict.items()}
clean_dict['FG%'] = 'fg_perc'
clean_dict['3P%'] = 'threepoint_perc'
clean_dict['3P'] = 'threepoint'
clean_dict['3PA'] = 'threepoint_att'
clean_dict['2P'] = 'twopoint'
clean_dict['2PA'] = 'twopoint_att'
clean_dict['2P%'] = 'twopoint_perc'
clean_dict['FT%'] = 'ft_perc'
clean_dict['eFG%'] = 'efg_perc'
# call rename () method
nba_data.rename(columns=clean_dict,
          inplace=True)
nba_data.columns

Index(['id', 'player', 'g', 'gs', 'mp', 'fg', 'fga', 'fg_perc', 'threepoint',
       'threepoint_att', 'threepoint_perc', 'twopoint', 'twopoint_att',
       'twopoint_perc', 'efg_perc', 'ft', 'fta', 'ft_perc', 'orb', 'drb',
       'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'per', 'bpm', 'vorp',
       'year', 'u_player'],
      dtype='object')

In [15]:
#Splitting Df
main_df = nba_data[['id','u_player', 'player', 'year', 'g', 'gs', 'mp', 'fg', 'fga', 'fg_perc', 'threepoint',
       'threepoint_att', 'threepoint_perc', 'twopoint', 'twopoint_att',
       'twopoint_perc', 'efg_perc']]

misc_df = nba_data[['id','u_player', 'player', 'year','ft', 'fta', 'ft_perc', 'orb', 'drb',
       'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'per', 'bpm', 'vorp',
       'year', 'u_player']]
print(main_df.columns)
print(misc_df.columns)

Index(['id', 'u_player', 'player', 'year', 'g', 'gs', 'mp', 'fg', 'fga',
       'fg_perc', 'threepoint', 'threepoint_att', 'threepoint_perc',
       'twopoint', 'twopoint_att', 'twopoint_perc', 'efg_perc'],
      dtype='object')
Index(['id', 'u_player', 'player', 'year', 'ft', 'fta', 'ft_perc', 'orb',
       'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'per', 'bpm',
       'vorp', 'year', 'u_player'],
      dtype='object')

In [16]:
 # Create the connection to the postgres database and convert the movies DataFrame to a sql db
    # and replace the data in the tables.
db_password = getpass()
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/NBA_Analysis"
engine = create_engine(db_string)

 ········

In [17]:
#Drop/Cascade Exsisting Tables & Create SQL Tables
with engine.connect() as con:
    #Drop Existing Tables
    statements = [
        # Might only need the first time ----------
        "DROP TABLE IF EXISTS nba_analysis CASCADE", 
        "DROP TABLE IF EXISTS players CASCADE",
        #------------------------------------------
        "DROP TABLE IF EXISTS main CASCADE", 
        "DROP TABLE IF EXISTS misc CASCADE"]

    for statement in statements:
        con.execute(statement)
        
        #Create Table Columns
        # we ill want to get rid of player table all together.
        create_table_statements = [
        text( """CREATE TABLE main (
        id int NOT NULL,
        u_player VARCHAR NOT NULL,
        player VARCHAR NOT NULL,
        year int,
        g int,
        gs int,
        mp int,
        fg int,
        fga int,
        threepoint int,
        threepoint_att int,
        threepoint_perc float,
        twopoint int,
        twopoint_att int,
        twopoint_perc float,
        efg_perc float,
        PRIMARY KEY (id, u_player),
        UNIQUE (id, u_player));"""),
        text( """CREATE TABLE misc (
        id int NOT NULL,
        u_player VARCHAR NOT NULL,
        player VARCHAR NOT NULL,
        year int,
        ft int,
        fta int,
        ft_perc float,
        ora int,
        drb int,
        trb int,
        ast int,
        stl int,
        blk int,
        tov int,
        pf int,
        pts int,
        per int,
        bpm int,
        vorp int,
        FOREIGN KEY (id, u_player) REFERENCES main (id, u_player),
        PRIMARY KEY (id, u_player));""")]
    
    
    for create_table_statement in create_table_statements:
        con.execute(create_table_statement)

In [18]:
# repeating drops to satisfy sqlalchemy throwing error code.
with engine.connect() as con:
    #Drop Existing Tables
    statements = [
        # Might want to get rid of this, I had to keep it the first time
        # Might only need the first time ----------
        "DROP TABLE IF EXISTS nba_analysis CASCADE", 
        "DROP TABLE IF EXISTS players CASCADE",
        #------------------------------------------
        "DROP TABLE IF EXISTS main CASCADE", 
        "DROP TABLE IF EXISTS misc CASCADE"]

    for statement in statements:
        con.execute(statement)
#Import Data to SQL
main_df.to_sql(name='main', con=engine, if_exists='replace')
misc_df.to_sql(name='misc', con=engine, if_exists='replace')