In [1]:
# importing dependencies
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2
from sqlalchemy.sql import text

import time
from getpass import getpass

In [2]:
#Load in CSVs & Convert to DFs
nbaavgs1617 = "/Users/griffinmccalla/Desktop/03_bootcamp/homework/NBA_analysis/cleaned_bball_data 2/2016_17_nbaavgs.csv"
nbaavgs1718 = "/Users/griffinmccalla/Desktop/03_bootcamp/homework/NBA_analysis/cleaned_bball_data 2/2017_18_nbaavgs.csv"
nbaavgs1819 = "/Users/griffinmccalla/Desktop/03_bootcamp/homework/NBA_analysis/cleaned_bball_data 2/2018_19_nbaavgs.csv"
nbaavgs1920 = "/Users/griffinmccalla/Desktop/03_bootcamp/homework/NBA_analysis/cleaned_bball_data 2/2019_20_nbaavgs.csv"
nbaavgs2021 = "/Users/griffinmccalla/Desktop/03_bootcamp/homework/NBA_analysis/cleaned_bball_data 2/2020_21_nbaavgs.csv"
players = "/Users/griffinmccalla/Desktop/03_bootcamp/homework/NBA_analysis/cleaned_bball_data 2/players.csv"

# Read the Data and store into a Pandas DataFrame
nbaavgs_1617_df = pd.read_csv(nbaavgs1617)
nbaavgs_1718_df = pd.read_csv(nbaavgs1718)
nbaavgs_1819_df = pd.read_csv(nbaavgs1819)
nbaavgs_1920_df = pd.read_csv(nbaavgs1920)
nbaavgs_2021_df = pd.read_csv(nbaavgs2021)
players_df = pd.read_csv(players)

In [3]:
#Creating unique player and year columns
def year_cleaning(df, year):
    df['year'] = year
    df['u_player'] = df['Player'] + " " + df['year']
    return df
#Add Values to "Season" Column
nbaavgs_1617_df = year_cleaning(nbaavgs_1617_df,"2016-17")
nbaavgs_1718_df = year_cleaning(nbaavgs_1718_df,"2017-18")
nbaavgs_1819_df = year_cleaning(nbaavgs_1819_df,"2018-19")
nbaavgs_1920_df = year_cleaning(nbaavgs_1920_df,"2019-20")
nbaavgs_2021_df = year_cleaning(nbaavgs_2021_df,"2020-21")

In [4]:
#Merge All Season DFs into one DF
nba_data = pd.concat([nbaavgs_1617_df,nbaavgs_1718_df,nbaavgs_1819_df,nbaavgs_1920_df,nbaavgs_2021_df], ignore_index=True)

In [5]:
#Viewpoint Cell
nba_data.head()

,ID,Player,G,GS,MP,FG,FGA,FG%,3P,3PA,...,STL,BLK,TOV,PF,PTS,PER,BPM,VORP,year,u_player
0,1,Álex Abrines,68,6,15.5,2.0,5.0,0.393,1.4,3.6,...,0.5,0.1,0.5,1.7,6.0,10.1,-1.6,0.1,2016-17,Álex Abrines 2016-17
1,2,Quincy Acy,38,1,14.7,1.8,4.5,0.412,1.0,2.4,...,0.4,0.4,0.6,1.8,5.8,11.8,-2.1,0.0,2016-17,Quincy Acy 2016-17
2,3,Steven Adams,80,80,29.9,4.7,8.2,0.571,0.0,0.0,...,1.1,1.0,1.8,2.4,11.3,16.5,-0.2,1.1,2016-17,Steven Adams 2016-17
3,4,Arron Afflalo,61,45,25.9,3.0,6.9,0.440,1.0,2.5,...,0.3,0.1,0.7,1.7,8.4,8.9,-3.6,-0.7,2016-17,Arron Afflalo 2016-17
4,5,Alexis Ajinça,39,15,15.0,2.3,4.6,0.500,0.0,0.1,...,0.5,0.6,0.8,2.0,5.3,12.9,-3.3,-0.2,2016-17,Alexis Ajinça 2016-17

In [6]:
#Rename Columns
dict = {'3P': 'ThreePM',
        '3PA': 'ThreePA',
        '3P%': 'ThreePPercentage',
       '2P': 'TwoPM',
       '2PA': 'TwoPA',
        '2P%': 'TwoPPercentage',
       'eFG%': 'eFGPercentage',
       'FG%': 'FGPercentage',
        'FT%':'FTPercentage',
       'ID': 'Player_ID'}
  
# call rename () method
nba_data.rename(columns=dict,
          inplace=True)
players_df.rename(columns=dict, inplace=True)
nba_data.columns

Index(['Player_ID', 'Player', 'G', 'GS', 'MP', 'FG', 'FGA', 'FGPercentage',
       'ThreePM', 'ThreePA', 'ThreePPercentage', 'TwoPM', 'TwoPA',
       'TwoPPercentage', 'eFGPercentage', 'FT', 'FTA', 'FTPercentage', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PER', 'BPM',
       'VORP', 'year', 'u_player'],
      dtype='object')

In [7]:
#Splitting Df
main_df = nba_data[['Player_ID','u_player', 'Player', 'year', 'G', 'GS', 'MP', 'FG', 'FGA', 'FGPercentage',
       'ThreePM', 'ThreePA', 'ThreePPercentage', 'TwoPM', 'TwoPA',
       'TwoPPercentage', 'eFGPercentage']]

misc_df = nba_data[['Player_ID','u_player', 'Player', 'year','FT', 'FTA', 'FTPercentage', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PER', 'BPM',
       'VORP']]

In [8]:
 # Create the connection to the postgres database and convert the movies DataFrame to a sql db
    # and replace the data in the tables.
db_password = getpass()
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/NBA_Analysis"
engine = create_engine(db_string)

 ········

In [9]:
#Drop/Cascade Exsisting Tables & Create SQL Tables
with engine.connect() as con:
    #Drop Existing Tables
    statements = [
        # Might want to get rid of this, I had to keep it the first time
        # i ran it, but after that it would throw errors.
        "DROP TABLE IF EXISTS nba_analysis CASCADE", 
        "DROP TABLE IF EXISTS players CASCADE",
        # G
        "DROP TABLE IF EXISTS main CASCADE", 
        "DROP TABLE IF EXISTS misc CASCADE"]

    for statement in statements:
        con.execute(statement)
        
        #Create Table Columns
        # we ill want to get rid of player table all together.
        create_table_statements = [
        text( """CREATE TABLE main (
        player_id int NOT NULL,
        u_player VARCHAR NOT NULL,
        Player VARCHAR NOT NULL,
        year int,
        G int,
        GS int,
        MP int,
        FG int,
        FGA int,
        three_point_made int,
        three_point_attempt int,
        three_point_percent int,
        two_point_made int,
        two_point_attempt int,
        two_point_percent int,
        eFG_percent int,
        PRIMARY KEY (player_id, u_player),
        UNIQUE (player_id, u_player));"""),
        text( """CREATE TABLE misc (
        player_id int NOT NULL,
        u_player VARCHAR NOT NULL,
        Player VARCHAR NOT NULL,
        year int,
        FT int,
        FTA int,
        FT_percent int,
        ORB int,
        DRB int,
        TRB int,
        AST int,
        STL int,
        BLK int,
        TOV int,
        PF int,
        PTS int,
        PER int,
        BPM int,
        VORP int,
        FOREIGN KEY (player_id, u_player) REFERENCES main (player_id, u_player),
        PRIMARY KEY (player_id, u_player));""")]
    
    
    for create_table_statement in create_table_statements:
        con.execute(create_table_statement)

In [10]:
# repeating drops to satisfy sqlalchemy throwing error code.
with engine.connect() as con:
    #Drop Existing Tables
    statements = [
        "DROP TABLE IF EXISTS nba_analysis CASCADE", 
        "DROP TABLE IF EXISTS players CASCADE",
        "DROP TABLE IF EXISTS main CASCADE", 
        "DROP TABLE IF EXISTS misc CASCADE"]

    for statement in statements:
        con.execute(statement)
#Import Data to SQL
main_df.to_sql(name='main', con=engine, if_exists='replace')
misc_df.to_sql(name='misc', con=engine, if_exists='replace')