In [35]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import hvplot.pandas

In [36]:
# import csvs

season_1617 = pd.read_csv("cleaned_bball_data/2016_17_nbaavgs.csv")
season_1718 = pd.read_csv("cleaned_bball_data/2017_18_nbaavgs.csv")
season_1819 = pd.read_csv("cleaned_bball_data/2018_19_nbaavgs.csv")
season_1920 = pd.read_csv("cleaned_bball_data/2019_20_nbaavgs.csv")
season_2021 = pd.read_csv("cleaned_bball_data/2020_21_nbaavgs.csv")
season_1920.head()

,ID,Player,G,GS,MP,FG,FGA,FG%,3P,3PA,...,TRB,AST,STL,BLK,TOV,PF,PTS,PER,BPM,VORP
0,1557,Steven Adams,63,63,26.7,4.5,7.6,0.592,0.0,0.0,...,9.3,2.3,0.8,1.1,1.5,1.9,10.9,20.5,2.9,2.1
1,1558,Bam Adebayo,72,72,33.6,6.1,11.0,0.557,0.0,0.2,...,10.2,5.1,1.1,1.3,2.8,2.5,15.9,20.3,3.4,3.3
2,1559,LaMarcus Aldridge,53,53,33.1,7.4,15.0,0.493,1.2,3.0,...,7.4,2.4,0.7,1.6,1.4,2.4,18.9,19.7,1.4,1.5
3,1560,Kyle Alexander,2,0,6.5,0.5,1.0,0.500,0.0,0.0,...,1.5,0.0,0.0,0.0,0.5,0.5,1.0,4.7,-10.1,0.0
4,1561,Nickeil Alexander-Walker,47,1,12.6,2.1,5.7,0.368,1.0,2.8,...,1.8,1.9,0.4,0.2,1.1,1.2,5.7,8.9,-4.6,-0.4

In [39]:
# merge df's into one df

data_frames = [season_1617, season_1718, season_1819, season_1920, season_2021]

seasons_df_merged = pd.concat(data_frames)
seasons_df_merged = seasons_df_merged.set_index('ID')
seasons_df_merged.head()

,Player,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,TRB,AST,STL,BLK,TOV,PF,PTS,PER,BPM,VORP
ID,,,,,,,,,,,,,,,,,,,,,
1,Álex Abrines,68,6,15.5,2.0,5.0,0.393,1.4,3.6,0.381,...,1.3,0.6,0.5,0.1,0.5,1.7,6.0,10.1,-1.6,0.1
2,Quincy Acy,38,1,14.7,1.8,4.5,0.412,1.0,2.4,0.411,...,3.0,0.5,0.4,0.4,0.6,1.8,5.8,11.8,-2.1,0.0
3,Steven Adams,80,80,29.9,4.7,8.2,0.571,0.0,0.0,0.000,...,7.7,1.1,1.1,1.0,1.8,2.4,11.3,16.5,-0.2,1.1
4,Arron Afflalo,61,45,25.9,3.0,6.9,0.440,1.0,2.5,0.411,...,2.0,1.3,0.3,0.1,0.7,1.7,8.4,8.9,-3.6,-0.7
5,Alexis Ajinça,39,15,15.0,2.3,4.6,0.500,0.0,0.1,0.000,...,4.5,0.3,0.5,0.6,0.8,2.0,5.3,12.9,-3.3,-0.2

In [40]:
# make "Player" its own df

player = [seasons_df_merged["Player"]]
player_name = pd.concat(player, axis=1)
player_name.head()

           Player
ID
1    Álex Abrines
2      Quincy Acy
3    Steven Adams
4   Arron Afflalo
5   Alexis Ajinça

In [41]:
# remove players from merged df
seasons_df_merged.drop('Player', inplace=True, axis=1)

seasons_df_merged.head()

,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,...,TRB,AST,STL,BLK,TOV,PF,PTS,PER,BPM,VORP
ID,,,,,,,,,,,,,,,,,,,,,
1,68,6,15.5,2.0,5.0,0.393,1.4,3.6,0.381,0.6,...,1.3,0.6,0.5,0.1,0.5,1.7,6.0,10.1,-1.6,0.1
2,38,1,14.7,1.8,4.5,0.412,1.0,2.4,0.411,0.9,...,3.0,0.5,0.4,0.4,0.6,1.8,5.8,11.8,-2.1,0.0
3,80,80,29.9,4.7,8.2,0.571,0.0,0.0,0.000,4.7,...,7.7,1.1,1.1,1.0,1.8,2.4,11.3,16.5,-0.2,1.1
4,61,45,25.9,3.0,6.9,0.440,1.0,2.5,0.411,2.0,...,2.0,1.3,0.3,0.1,0.7,1.7,8.4,8.9,-3.6,-0.7
5,39,15,15.0,2.3,4.6,0.500,0.0,0.1,0.000,2.3,...,4.5,0.3,0.5,0.6,0.8,2.0,5.3,12.9,-3.3,-0.2

In [42]:
# scale the merged df

nba_scaled = StandardScaler().fit_transform(seasons_df_merged)
print(nba_scaled[0:5])

[[ 0.84057258 -0.61076908 -0.439592   -0.52437437 -0.42458376 -0.45091985
   0.62442807  0.5117518   0.60858312 -0.92894692 -0.90533306 -0.53476297
   0.2484454  -0.56296384 -0.65147414  0.90934124 -0.69435493 -0.94452773
  -0.92358072 -0.72956628 -0.29148103 -0.7232388  -0.73439543  0.01954654
  -0.41575204 -0.40671383 -0.01074125 -0.36293347]
 [-0.36939837 -0.79921158 -0.526396   -0.6141206  -0.53204171 -0.27835016
   0.14212009 -0.05147736  0.80955228 -0.76379008 -0.69875794 -0.63684952
   0.16118468 -0.11909718 -0.10859817  0.20266437 -0.42813398 -0.13212948
  -0.23017264 -0.78580542 -0.53461345  0.01566955 -0.61067653  0.14750085
  -0.44802806 -0.16552948 -0.08451357 -0.44506989]
 [ 1.32456097  2.17817999  1.12288002  0.68719967  0.26314712  1.16578569
  -1.06364987 -1.17793568 -1.94372526  1.32819653  1.10139675  0.61174745
   0.59748829  0.47272504  0.85651465 -0.4610389   3.56518015  0.78858853
   1.68689678 -0.44837057  1.16731346  1.49348625  0.87395036  0.91522667
   0.43956252  0.50127431  0.19582125  0.45843075]
 [ 0.55824603  0.85908246  0.68886002 -0.07564325 -0.01624355 -0.02403693
   0.14212009 -0.00454159  0.80955228 -0.15821501 -0.02001109 -0.29132583
   0.10010218  0.02885838 -0.16891772  0.88069217 -0.96057587 -0.45708878
  -0.63805975 -0.33589229 -0.77774586 -0.7232388  -0.48695762  0.01954654
  -0.02843979 -0.57696161 -0.30583054 -1.02002484]
 [-0.32906601 -0.27157257 -0.4938445  -0.38975504 -0.51055012  0.52092
  -1.06364987 -1.13099991 -1.94372526  0.00694183  0.00949965  0.13272597
  -0.02206283 -0.48898606 -0.47051548  0.08329328  0.50363931  0.35530947
   0.38165803 -0.89828371 -0.29148103  0.50827512 -0.36323871  0.40340945
  -0.52871811 -0.00946902 -0.26156715 -0.60934273]]

In [43]:
# Initialize PCA model
pca = PCA(n_components=3)

In [44]:
# Get 3 principal components for the iris data.
nba_pca = pca.fit_transform(nba_scaled)

In [45]:
# create PCA df
df_nba_pca = pd.DataFrame(
    data = nba_pca, columns = ["principal component 1", "principal component 2", "principal component 3"], index=seasons_df_merged.index)
df_nba_pca.head()

    principal component 1  principal component 2  principal component 3
ID
1               -1.990251              -1.111334               1.675774
2               -1.747374              -0.165193               0.647040
3                3.790687               3.616627              -2.826587
4               -0.626987              -1.072810               0.961433
5               -1.312353               2.132251              -1.432281

In [46]:
pca.explained_variance_ratio_

array([0.5089292 , 0.13199011, 0.09148876])

In [54]:
# Find the best value for K
inertia = []
k = list(range(1, 11))

# Calculate the inertia for the range of K values
for i in k:
    km = KMeans(n_clusters=i, random_state=0)
    km.fit(df_nba_pca)
    inertia.append(km.inertia_)

# Create the elbow curve
elbow_data = {"k": k, "inertia": inertia}
df_elbow = pd.DataFrame(elbow_data)
df_elbow.hvplot.line(x="k", y="inertia", xticks=k, title="Elbow Curve")

:Curve   [k]   (inertia)

In [103]:
# Initialize the K-means model
model = KMeans(n_clusters=5, random_state=0)

# Fit the model
model.fit(df_nba_pca)

# Predict clusters
predictions = model.predict(df_nba_pca)

# Add the predicted class columns
player_name["class"] = model.labels_
player_name.head()

           Player  class
ID
1    Álex Abrines      3
2      Quincy Acy      3
3    Steven Adams      0
4   Arron Afflalo      3
5   Alexis Ajinça      3

In [109]:
# Player Search Bar

player_search = player_name[player_name["Player"] == "Deandre Ayton"]
player_search

             Player  class
ID
1051  Deandre Ayton      0
1577  Deandre Ayton      0
2107  Deandre Ayton      0

In [78]:
#sort by class

sorted_class = player_name.sort_values(["class"])
class_one = sorted_class[(sorted_class["class"] == 0)]
class_two = sorted_class[(sorted_class["class"] == 1)]
class_three = sorted_class[(sorted_class["class"] == 2)]
class_four = sorted_class[(sorted_class["class"] == 3)]
class_five = sorted_class[(sorted_class["class"] == 4)]

In [86]:
# class 1 df

df_one = pd.concat([class_one, seasons_df_merged], axis=1)
class_one_df = df_one.dropna()
class_one_df.head()

,Player,class,G,GS,MP,FG,FGA,FG%,3P,3PA,...,TRB,AST,STL,BLK,TOV,PF,PTS,PER,BPM,VORP
ID,,,,,,,,,,,,,,,,,,,,,
3,Steven Adams,0.0,80,80,29.9,4.7,8.2,0.571,0.0,0.0,...,7.7,1.1,1.1,1.0,1.8,2.4,11.3,16.5,-0.2,1.1
9,Tony Allen,0.0,71,66,27.0,3.9,8.4,0.461,0.2,0.8,...,5.5,1.4,1.6,0.4,1.4,2.5,9.1,13.3,-1.0,0.5
46,Bismack Biyombo,0.0,81,27,22.1,2.2,4.2,0.528,0.0,0.0,...,7.0,0.9,0.3,1.1,1.2,2.5,6.0,12.2,-3.2,-0.6
48,Tarik Black,0.0,67,16,16.3,2.2,4.4,0.510,0.0,0.0,...,5.1,0.6,0.4,0.7,0.9,2.6,5.7,15.0,-3.2,-0.3
51,Andrew Bogut,0.0,27,21,21.6,1.4,3.0,0.469,0.0,0.0,...,8.1,1.8,0.5,0.9,1.6,3.2,2.9,9.3,-2.6,-0.1

In [88]:
# class 2 df

df_two = pd.concat([class_two, seasons_df_merged], axis=1)
class_two_df = df_two.dropna()
class_two_df.head()

,Player,class,G,GS,MP,FG,FGA,FG%,3P,3PA,...,TRB,AST,STL,BLK,TOV,PF,PTS,PER,BPM,VORP
ID,,,,,,,,,,,,,,,,,,,,,
10,Al-Farouq Aminu,1.0,61,25,29.1,3.0,7.6,0.393,1.1,3.5,...,7.4,1.6,1.0,0.7,1.5,1.7,8.7,11.3,-1.1,0.4
15,Ryan Anderson,1.0,72,72,29.4,4.5,10.7,0.418,2.8,7.0,...,4.6,0.9,0.4,0.2,0.8,2.0,13.6,13.5,-0.4,0.9
19,Trevor Ariza,1.0,80,80,34.7,4.1,10.0,0.409,2.4,6.9,...,5.7,2.2,1.8,0.3,0.9,1.7,11.7,12.4,1.0,2.1
27,J.J. Barea,1.0,35,6,22.0,4.1,9.8,0.414,1.5,4.2,...,2.4,5.5,0.4,0.0,1.8,0.9,10.9,17.2,1.5,0.7
29,Matt Barnes,1.0,74,18,24.0,2.5,6.4,0.391,1.2,3.6,...,5.2,2.6,0.6,0.4,1.4,2.5,7.1,10.3,-1.4,0.3

In [98]:
# class 3 df

df_three = pd.concat([class_three, seasons_df_merged], axis=1)
class_three_df = df_three.dropna()
class_three_df.head()

,Player,class,G,GS,MP,FG,FGA,FG%,3P,3PA,...,TRB,AST,STL,BLK,TOV,PF,PTS,PER,BPM,VORP
ID,,,,,,,,,,,,,,,,,,,,,
7,LaMarcus Aldridge,2.0,72,72,32.4,6.9,14.6,0.477,0.3,0.8,...,7.3,1.9,0.6,1.2,1.4,2.2,17.3,18.6,0.8,1.7
16,Giannis Antetokounmpo,2.0,80,80,35.6,8.2,15.7,0.521,0.6,2.3,...,8.8,5.4,1.6,1.9,2.9,3.1,22.9,26.1,7.3,6.7
17,Carmelo Anthony,2.0,74,74,34.3,8.1,18.8,0.433,2.0,5.7,...,5.9,2.9,0.8,0.5,2.1,2.7,22.4,17.9,0.7,1.7
28,Harrison Barnes,2.0,79,79,35.5,7.6,16.2,0.468,1.0,2.8,...,5.0,1.5,0.8,0.2,1.3,1.6,19.2,16.3,-0.8,0.8
32,Nicolas Batum,2.0,77,77,34.0,5.1,12.7,0.403,1.8,5.3,...,6.2,5.9,1.1,0.4,2.5,1.4,15.1,15.8,0.8,1.9

In [92]:
# class 4 df

df_four = pd.concat([class_four, seasons_df_merged], axis=1)
class_four_df = df_four.dropna()
class_four_df.head()

,Player,class,G,GS,MP,FG,FGA,FG%,3P,3PA,...,TRB,AST,STL,BLK,TOV,PF,PTS,PER,BPM,VORP
ID,,,,,,,,,,,,,,,,,,,,,
1,Álex Abrines,3.0,68,6,15.5,2.0,5.0,0.393,1.4,3.6,...,1.3,0.6,0.5,0.1,0.5,1.7,6.0,10.1,-1.6,0.1
2,Quincy Acy,3.0,38,1,14.7,1.8,4.5,0.412,1.0,2.4,...,3.0,0.5,0.4,0.4,0.6,1.8,5.8,11.8,-2.1,0.0
4,Arron Afflalo,3.0,61,45,25.9,3.0,6.9,0.440,1.0,2.5,...,2.0,1.3,0.3,0.1,0.7,1.7,8.4,8.9,-3.6,-0.7
5,Alexis Ajinça,3.0,39,15,15.0,2.3,4.6,0.500,0.0,0.1,...,4.5,0.3,0.5,0.6,0.8,2.0,5.3,12.9,-3.3,-0.2
6,Cole Aldrich,3.0,62,0,8.6,0.7,1.4,0.523,0.0,0.0,...,2.5,0.4,0.4,0.4,0.3,1.4,1.7,12.7,-0.8,0.2

In [93]:
# class 5 df

df_five = pd.concat([class_five, seasons_df_merged], axis=1)
class_five_df = df_five.dropna()
class_five_df.head()

,Player,class,G,GS,MP,FG,FGA,FG%,3P,3PA,...,TRB,AST,STL,BLK,TOV,PF,PTS,PER,BPM,VORP
ID,,,,,,,,,,,,,,,,,,,,,
25,Wade Baldwin,4.0,33,1,12.3,1.1,3.5,0.313,0.1,0.7,...,1.4,1.8,0.5,0.2,1.2,1.2,3.2,6.5,-5.5,-0.3
43,Ben Bentil,4.0,3,0,3.3,0.0,1.0,0.000,0.0,0.3,...,0.7,0.0,0.0,0.0,0.3,0.3,0.0,-17.6,-25.9,-0.1
84,Norris Cole,4.0,13,0,9.6,1.2,4.0,0.308,0.2,1.0,...,0.8,1.1,0.6,0.0,0.5,1.4,3.3,5.4,-6.7,-0.1
145,Patricio Garino,4.0,5,0,8.6,0.0,1.4,0.000,0.0,1.0,...,1.4,0.0,0.0,0.0,0.6,0.8,0.0,-9.2,-17.9,-0.2
149,Michael Gbinije,4.0,9,0,3.6,0.1,1.1,0.100,0.0,0.4,...,0.3,0.2,0.0,0.0,0.0,0.2,0.4,-2.1,-12.1,-0.1